* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fixed {
    position: fixed;
    z-index: 100;
    height: 70px;
}
.row__footer {
    height: 70px;
}
.header {
    background-color: #0F6300 ;
    height: 70px;
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 0;
}
.header-unite {
    background-color: #0F6300 ;
    height: 70px;
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 0;
    --bs-gutter-x: 0rem;
}

.fondo {
    padding: 0px;
    display: flex;
    align-items: center;
}
.header__open {
    display: none
}
.header__container {
    height: 100%;
}
.main__row {
    margin: 0px;
    min-height: 100vh;
    background-color: #004503;
}
.main__row-unite {
    margin: 0px;
    background-color: #004503;
    
}
.bs {
    --bs-gutter-x: 0;
}
.header__proyecto {
    font-family: 'Abril Fatface', cursive;
    font-style: italic;
    font-size: 26px;
    color: #0F1C0D;
}
.header__marca {
    height: 60px;
    width: 60px;
    text-decoration: none;
    justify-self: flex-start;
    margin-right: 7%;
    margin-left: 0px;
}
.header__logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.header__derecha {
    display: flex;
    justify-content: space-between;
}
.header__lista {
    padding: 0px;
}
.header__row {
    height: 60px;
}
.header__row-unite {
    height: 60px;
}
.nav {
    padding: 15px;
    background-color: #CFD300;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0px;
}
.nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    font-size: 20px;
    width: 100%;
    height: 70px;
    justify-self: flex-start;
    margin: 0px;
}
.volver {
    display: none;
}
.nav__item {
    text-decoration: none;
    transition: all 1s;
    color: black;
    height: 70px;
    background-color: #CFD300;
    display: flex;
    transition: 0.05s;
}
.nav__item-volver {
    display: none;
}
.nav__enlace {
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    color: #0F1C0D;
    height: 70px;
    transition: all 0.1s;
    padding: 0px 10px 0px 10px;
    display: flex;
}
.nav__enlace:hover {
    text-decoration: none;
    color: #CFD300;
}
.nav__paginas {
    align-self: center;
}
.nav__item:hover {
    background-color: #004503;
}
.body {
    background-color: #0F1C0D;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.article {
    background-color: #004503;
    position: absolute;
    top: 70px;
    min-height: 100%;
}
.altura {
    min-height: 100%;
}
.section__derecha {
    min-height: 100%;
}
.section__izquierda {
    background-color: #004503;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    position: relative;
}
.section__titulo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0F1C0D;
    opacity: 100%;
    font-size: 28px;
    text-align: center;
    margin: 10px 20px 15px;
    margin-top: 10px;
    background-image: linear-gradient(to left, #ada73e4a, #ada73e4a);
    border: 1px solid #ada73e;
}
ul {
    padding-left: 0px;
}
.section__parrafo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 15px 20px 15px 20px;
    text-align: justify;
    color:#0F1C0D;
    padding: 10px;
    background-image: linear-gradient(to left, #ada73e4a, #ada73e4a);
    border: 1px solid #ada73e;
}
.section_iconos {
    object-fit: cover;
    height: 40px;
    width: 40px;
    margin: 10px;
    align-self: center;
    opacity: 100%;
}
.section__iconos--fondo {
    background-image: yellow;
}
.enlaces {
    text-decoration: none;
    color:#0F1C0D;
    cursor: default;
}
.enlaces:hover {
    color: #0F1C0D;
}
.section__derecha {
    background-color:#c2c500;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section__titulo-derecha {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0F1C0D;
    opacity: 100%;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to left, #0d6300d5,#0d6300d5);
    border: 1px solid #0d6300
}
.carousel {
    border: solid 2px #0F6300;
}
.carouselImagenes {
    height: 400px;
    object-fit: cover;
}
.video {
    width: 90%;
    height: 285px;
    border: solid 1px #0F6300;
    margin-bottom: 10px;
}
.formulario {
    background-image: linear-gradient(to left, #ada73e4a, #ada73e4a);
    border: 1px solid #ada73e;
    margin: 15px 20px 0px 20px;
    padding: 5px;
}
.label {
    color:#0F1C0D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-bottom: 4px;
}
.form-control {
    height: 40px;
}
.input {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin: 5px 0px 5px 0px;
}
.form__genero {
    display: flex;
    justify-content: space-between;
}
.form__correo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}
.section__titulo-form {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0F1C0D;
    opacity: 100%;
    font-size: 21px;
    text-align: center;
    margin-left: 1rem;
    margin-top: 10px;
    background-image: linear-gradient(to left, #ada73e4a, #ada73e4a);
    border: 1px solid #ada73e;
}
.form-check-label {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0F1C0D;
}
.enviar {
    width: 100%;
    height: 50px;
    margin: 5px 0px 5px 0px;
    background-color: #0F6300;
    color: #CFD300;
    transition: 0.2s;
    border: #0F1C0D solid 1px;
}
.enviar:hover {
    color: #0F6300;
    background-color: #CFD300;
}
.recuadro {
    margin: 0px;
    border: 2px yellow solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
}
.recuadro__imagen {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border: 2px green solid;
    transition: all 2s;
    margin: 0px;
}
.recuadro__imagen:hover {
    transform: scale(1.2);
}
.containerFooter {
    z-index: 100;
    position: sticky;
    margin-top: auto;
}
.footer {
    background-color: #0F6300;
    height: 70px;
    padding-left: 0px;
    padding-right: 0px;
}
.footer-unite {
    background-color: #0F6300;
    height: 70px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
.footer__row {
    height: 70px;
    margin-top: auto;
}
.footer__izquierda {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px;
}
.footer__proyecto {
    font-family: 'Abril Fatface', cursive;
    font-style: italic;
    font-size: 26px;
    color: #0F1C0D;
}
.footer__marca {
    height: 60px;
    width: 60px;
    text-decoration: none;
    justify-self: flex-start;
    margin-right: 8%;
    margin-left: 0px;
}
.footer__logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.footer__derecha {
    background-color: #CFD300;
}
.footer__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-size: 20px;
    width: 100%;
    height: 70px;
    margin: 0px;
}
.footer__item {
    list-style: none;
    align-self: center;
}
.footer__enlace {
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    color: #0F1C0D;
    height: 70px;
}
.footer__iconos {
    font-size: 50px;
    border: solid green;
    border-radius: 5px;
    background-color: yellowgreen;
    margin: 5px;
    transition: 0.2s;
}
.footer__iconos:hover {
        background-color: green;
        color: yellow;
}
@media screen and (max-width: 1023px) {

    .header__proyecto {
        font-family: 'Abril Fatface', cursive;
        font-style: italic;
        font-size: 20px;
        color: #0F1C0D;
    }
    .nav__lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        font-size: 12px;
        width: 100%;
        height: 70px;
        justify-self: flex-start;
        margin: 0px;
    }
    .section__titulo {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: #0F1C0D;
        opacity: 100%;
        font-size: 18px;
        text-align: center;
        margin: 10px 20px 15px;
        margin-top: 10px;
        background-image: linear-gradient(to left, #ada73e4a, #ada73e4a);
        border: 1px solid #ada73e;
    }
    .section__parrafo {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        margin: 15px 20px 15px 20px;
        text-align: justify;
        color:#0F1C0D;
        padding: 10px;
        background-image: linear-gradient(to left, #ada73e4a, #ada73e4a);
        border: 1px solid #ada73e;
    }
    .section_iconos {
        object-fit: cover;
        height: 30px;
        width: 30px;
        margin: 10px;
        align-self: center;
        opacity: 100%;
    }
    .section__titulo-derecha {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: #0F1C0D;
        opacity: 100%;
        font-size: 16px;
        text-align: center;
        margin: 10px;
        margin-top: 10px;
        background-image: linear-gradient(to left, #0d6300d5,#0d6300d5);
        border: 1px solid #0d6300
    }
    .carouselImagenes {
        height: 200px;
        object-fit: cover;
    }
    .video {
        width: 90%;
        height: 180px;
        border: solid 1px #0F6300;
        margin-bottom: 10px;
    }
    .footer__proyecto {
        font-family: 'Abril Fatface', cursive;
        font-style: italic;
        font-size: 20px;
        color: #0F1C0D;
    }
    .label {
        font-size: 16px;
    }
    .recuadro__imagen {
        height: 170px;
        width: 100%;
        object-fit: cover;
        border: 2px green solid;
        transition: all 2s;
        margin: 0px;
    }
}
@media screen and (max-width: 600px) {
    .header__proyecto {
        font-family: 'Abril Fatface', cursive;
        font-style: italic;
        font-size: 18px;
        color: #0F1C0D;
    }
    .nav {
        height: 30px;
    }
    .nav__item {
        height: 30px;
    }
    .nav__enlace {
        height: 30px;
    }
    .nav__lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        font-size: 12px;
        width: 100%;
        height: 30px;
        justify-self: flex-start;
        margin: 0px;
    }
    .article {
        top: 90px;
    }
    .carouselImagenes {
        height: 200px;
    }
    .footer__proyecto {
        font-size: 20px;
    }
    .footer__iconos {
        font-size: 20px;
    }
    .footer_derecha {
        height: 30px;
    }
    .footer__lista {
        height: 30px;
    }
}